
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
Exercise 2/task-1/.vs/task-1/v16/.suo
Exercise 2/task-6/.vs/task-6/v16/.suo
Exercise 3/Exercise 3/.vs/Exercise 3/v16/.suo
Exercise 3/Exercise 3/Debug/task01.exe
Exercise 3/Exercise 3/Debug/task01.pdb
Exercise 3/Exercise 3/Debug/task01.ilk
Exercise 3/Exercise 3/task01/Debug/task01.exe.recipe
*.log
*.obj
*.tlog
*.idb
*.pdb
